h2					{
					margin: 10px;
					margin-top: 0px;
					}
		
h4					{
					margin: 10px;
					margin-top: 0px;
					}
		
a					{
					margin: 0px;
					}
		
.spacer				{
					width: 0px;
					height: 0px;
					margin: 0px;
					padding: 2px; 
					}
					
.smalltext			{
					font-size: 8pt;
					}
					
.text				{
					font-size: 12pt;
					}
					
.hiddenlink			{
					color: #000000;
					text-decoration: none;
					}
		
.error				{
					font-size: 12pt;
					color: #FF0000;
					margin: 10px;
					}
		
.navbar				{
					width: 100%;
					background: #CCCCCC;
					}

.navelementnarrow	{
					width: 20%;
					display: inline-block;
					margin-top: 5px;
					margin-left: 5px;
					}
		
.navelementwide		{
					width: 35%;
					display: inline-block;
					margin-top: 5px;
					margin-left: 5px;
					}
					
.navlink			{
					font-size: 16pt;
					font-weight: bold;
					display: inline-block;
					margin: 5px;
					}
					
.form				{
					width: 200px;
					display: inline-block;
					vertical-align: top;
					margin: 10px;
					margin-top: 0px;
					}
					
.formsingleline		{
					margin-left: 5px;
					}
					
.formfieldnarrow	{
					width: 50px;
					}
					
.formfieldmedium	{
					width: 100px;
					}
					
.formfieldwide		{
					width: 200px;
					}
					
.formfieldhuge		{
					width: 800px;
					}
					
.formlabelcontainer	{
					display: flex;
					justify-content: space-between;
					margin: 0px;
					padding: 0px;
					}
					
.formfield			{
					display: block;
					vertical-align: top;
					margin: 5px;
					margin-top: 0px;
					}
					
.formcolumnsingle	{
					width: 100%;
					display: inline-block;
					vertical-align: top;
					padding: 0px;
					margin: 0px;
					}
					
.formcolumnauto		{
					width: auto;
					display: inline-block;
					vertical-align: top;
					padding: 0px;
					margin: 0px;
					}
					
.formcolumnnarrow	{
					width: 50px;
					display: inline-block;
					vertical-align: top;
					padding: 0px;
					margin: 0px;
					}
					
.formcolumnmedium	{
					width: 200px;
					display: inline-block;
					vertical-align: top;
					padding: 0px;
					margin: 0px;
					}
					
.formcolumnwide		{
					width: 400px;
					display: inline-block;
					vertical-align: top;
					padding: 0px;
					margin: 0px;
					}
					
.table				{
					display: inline-block;
					vertical-align: top;
					margin: 10px;
					}
					
.tableborder		{
					border: 1px solid black;
					border-collapse: collapse;
					}
					
.noborder			{
					border: 0px solid black;
					border-collapse: collapse;
					}
					
.tablecellleft		{
					height: 20px;
					text-align: left;
					}
										
.tablecellcenter	{
					height: 20px;
					text-align: center;
					}

.tablecolumntiny	{
					width: 20px;
					}
					
.tablecolumnnarrow	{
					width: 50px;
					}

.tablecolumnmedium	{
					width: 100px;
					}

.tablecolumnwide	{
					width: 200px;
					}
					
.tablecolumnhuge	{
					width: 400px;
					}
					
.mapcell			{
					height: 20px;
					font-size: 8pt;
					font-weight: bold;
					line-height: 20px;
					text-align: center;
					}
					

					